@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Outfit:wght@200;400;600&display=swap");

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif !important;
  font-weight: 600;
}

h4,
h5,
h6,
p,
a,
li,
th,
tr,
thead,
button,
label,
input,
textarea,
select {
  font-family: "Open Sans", sans-serif !important;
}

td {
  font-family: "Outfit", sans-serif !important;
}

a {
  text-decoration: none;
}

/*Navbar styles*/
nav {
  background-color: rgb(0, 174, 243);
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  width: 100vw;
  margin-bottom: 200px;
}

span {
  margin-right: 10px;
}

/*Páginas-Index Styles*/

.index-container {
  background-color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 100px;
}

.main-wrapper {
  background-color: rgb(75, 183, 255);
  height: 100vh;
  width: 100vw;
}

/*Incidencias/Index -Styles*/

.main-container {
  margin-top: 200px;
}
/*Card Options Red*/
.card-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.09);
  margin-top: 1em;
  padding: 2em;
  background-color: rgb(233, 87, 81);
  transition: 0.2s ease-in-out;
  min-height: 180px;
}

.card-options:hover {
  background-color: rgb(246, 118, 113);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.card-options h2 {
  color: white;
  margin-left: 1em;
}

/*Card Options Blue*/
.card-options-blue {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.09);
  margin-top: 1em;
  padding: 2em;
  background-color: rgb(52, 145, 221);
  transition: 0.2s ease-in-out;
  min-height: 180px;
}

.card-options-blue:hover {
  background-color: rgb(92, 166, 250);
  transform: translateY(-2px);
}

.card-options-blue h2 {
  color: white;
  margin-left: 1em;
}

/*Card Options Green*/
.card-options-green {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.09);
  margin-top: 1em;
  padding: 2em;
  background-color: rgb(4, 158, 17);
  transition: 0.2s ease-in-out;
  min-height: 180px;
}

.card-options-green:hover {
  background-color: rgb(22, 195, 60);
  transform: translateY(-2px);
}

.card-options-green h2 {
  color: white;
  margin-left: 1em;
}

/*Incidencias/Show -Styles*/

.container-incidencia {
  margin-top: 200px;
  border: 1px solid #c5c5c5;
  border-radius: 10px;
  padding: 50px;
}

.options {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: 0.2s ease-in-out;
}

.options:hover {
  color: rgb(255, 196, 0);
}

/*ROBOT STYLES*/

.bot {
  display: flex;
  align-items: center;
}

.from-me {
  background-color: #248bf5;
  color: #fff;
  font-family: "Outfit", sans-serif !important;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.from-me::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #248bf5;
  border-right: 10px solid transparent;
  border-top: 10px solid #248bf5;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 13px;
}
.from-user {
  background-color: #248bf5;
  color: #fff;
  font-family: "Outfit", sans-serif !important;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.from-user::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #248bf5;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #248bf5;
  left: -15px;
  top: 13px;
}

.from-user-name {
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif !important;
  color: #fff;
  margin-bottom: 3px;
  font-weight: bold;
}

.robot-container {
  margin-top: 200px;
}

.robot-container h1 {
  font-size: 80px;
}
.robot-container h2 {
  font-size: 40px;
}

.robot-container ul {
  margin-top: 2rem;
}

.robot-container li {
  color: #248bf5;
}

.robot-container p {
  color: black;
  font-family: "Outfit", sans-serif !important;
}

.emoji {
  font-size: 60px;
}

/*CHAT STYLES*/

.chat-container {
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  height: 600px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    326deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 121, 245, 1) 0%,
    rgba(141, 219, 246, 1) 100%
  );
}

.screen {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: end;
  width: 95%;
  height: 70%;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 50px;
  padding: 20px;
}

.input-container {
  width: 95%;
  height: 100px;
  margin: auto;
  margin-top: 20px;
}

.input-container input {
  padding: 10px;
  height: 50px;
}

.answer-container {
  align-self: flex-end;
}

.question-container {
  margin-left: 15px;
}

.train-container {
  border: 1px solid #c5c5c5;
  border-radius: 10px;
  padding: 20px;
}
